//  Variables

// Horizontal Spacing Variables
$spacing-horizontal-xs: 4px;
$spacing-horizontal-xxs: 8px;
$spacing-horizontal-sm: 12px;
$spacing-horizontal-md: 16px;
$spacing-horizontal-lg: 24px;
$spacing-horizontal-xl: 32px;

// Vertical Spacing Variables
$spacing-vertical-xs: 4px;
$spacing-vertical-xxs: 8px;
$spacing-vertical-sm: 12px;
$spacing-vertical-md: 16px;
$spacing-vertical-lg: 24px;
$spacing-vertical-xl: 32px;

// Spacing full Variables
$spacing-xs: 4px;
$spacing-xxs: 8px;
$spacing-sm: 12px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Font Size Variables
$font-size-xs: 8px;
$font-size-sm: 10px;
$font-size-md: 12px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;

// Line Height Variables
$line-height-xs: 1;
$line-height-sm: 1.2;
$line-height-md: 1.5;
$line-height-lg: 1.75;
$line-height-xl: 2;
$line-height-xxl: 2.5;
